body {
    font-family: cairo, sans-serif;
}
.banner {
    position: relative;
}
.banner img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}
nav a {
    text-decoration: none;
    color: #ffffff;  
    transition: all 0.2s ease-in-out;
}
.profile-section {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
.profile-section img {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.main-content {
    padding: 20px;
}
.summary{
    text-align: justify;
}
.sidebar {
    padding: 10px;
}
nav a:hover {
    color: #a0a7e5 !important;
    text-decoration: none;
}
nav .active {
    color: #ffffff !important;
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
    transition: 0.3s;
}
.card-hover {
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}
.card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}
.card-hover:hover, .card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.hover-icon {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 20%;
    left: 90%;
    transform: translate(-50%, -50%);
}
.card-title{
    font-weight: bold;
}
.card-hover:hover .hover-icon , .card:hover .hover-icon {
    opacity: 1;
}
.footer,header{
    background-color: #002079;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
.breadcrumb{
    padding: 20px;
}